

/** containers */
section#description {
  min-width: 60vw;
  gap: 100px;
}

div.description-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8vw;
  justify-content: space-between;
  width: 100%;
  transition: all 0.1s ease-in-out;
}

/** Affichage des images */
div.description-line img {
  max-height: 40vh;
  max-width: 50%;
  opacity: 0;
}

div.description-line.image-on-right img {
  transform: translateX(100px);
}

div.description-line.image-on-left img {
  transform: translateX(-100px);
}

div.description-line.visible img {
  opacity: 1;
  transform: translateX(0px);
  transition: all 1s ease-in-out;
}

/*  Affichage du texte */

div.description-line p {
  opacity: 0;
  font-size: 30px;
  transition: all 0.8s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
}


div.description-line.visible p {
  opacity: 1;
  font-size: 40px;
}

  /** Media queries */

@media screen and (max-width: 1510px) {
  section#description div.description-line p {
    font-size: 20px;
  }

  section#description div.description-line.visible p {
    font-size: 30px;
  }
}

@media screen and (max-width: 1300px) {
  section#description div.description-line p {
    font-size: 10px;
  }

  section#description div.description-line.visible p {
    font-size: 20px;
  }
  section#description div.description-line p{
    animation: none;
  }

}

@media screen and (max-width: 900px) {
    div.description-line img {
      display: none;
    }
    section#description{
      gap: 5px;
    }
    section#description div.description-line p{
        opacity: 1;
        font-size: 20px;
        transform: none;
        transition: none;
        display: block;
    }
    p span.text-line{
      margin-right: 5px;
      display: inline;
    }
  }


