@font-face {
  font-family: "NyghtSerif";
  src: url("../../fonts/RobotoFlex.ttf") format("truetype");
}

/** containers */
section#description {
  min-width: 60vw;
  gap: 150px;
}

div.description-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8vw;
  justify-content: space-between;
  width: 100%;
}

/** Affichage des images */
div.description-line img {
  max-height: 40vh;
  max-width: 50%;
}

/*  Affichage du texte */

div.description-line p {
  font-size: 35px;
  font-family: "NyghtSerif";
  display: grid;
  grid-template-columns: 1fr;

}




  /** Media queries */

@media screen and (max-width: 1510px) {
  section#description div.description-line p {
    font-size: 25px;
  }
}

@media screen and (max-width: 1300px) {
  section#description div.description-line p {
    font-size: 20px;
  }
  section#description div.description-line p{
    animation: none;
  }

}

@media screen and (max-width: 900px) {
    div.description-line img {
      display: none;
    }
    section#description{
      gap: 5px;
    }
    section#description div.description-line p{
        opacity: 1;
        font-size: 25px;
        transform: none;
        transition: none;
        display: block;
    }
    p span.text-line{
      margin-right: 5px;
      display: inline;
    }
  }


