@font-face {
  font-family: "Amstelvar-It";
  src: url("../../fonts/Amstelvar-Italic.ttf") format("truetype");
}

/** containers */
section#description {
  min-width: 60vw;
  gap: 150px;
}

div.description-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

/** Affichage des images */
div.description-line img {
  max-height: 50vh;
  max-width: 45%;
}

/**  Affichage du texte */

div.description-line p {
  font-family: Amstelvar-It;
  font-variation-settings: "wgth" 400;
  font-size: 2vw;
  display: grid;
  grid-template-columns: 1fr;
  width: 45%;
}

div.description-line p span.text-line {
  padding-left: 10%;
}

/** responsive pour mobile */

@media screen and (max-width: 900px) {
  div.description-line img {
    display: none;
  }
  section#description {
    min-width: 80vw;
    gap: 5px;
  }
  section#description div.description-line p {
    width: 100%;
    opacity: 1;
    font-size: 25px;
    transform: none;
    transition: none;
    display: block;
  }
  div.description-line p span.text-line {
    margin-right: 5px;
    display: inline;
    padding: 0;
  }
}
