/* Réinitialisation de la marge pour la section #contact-prices */
section#contacts {
  margin: 0;
  margin-bottom: 100px;
}

/* Phrase de fin */
p.finalPhrase {
  margin: 50px 0;
  font-size: 2rem;
  font-variation-settings: 'wght' 600, 'opsz' 90;
}



/* Grille des contacts */
#contacts-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-content: center;
  align-items: center;
}

ul#contacts-list li {
  list-style: none;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 40px;
  max-width: 100%;
  padding: 0 10px;
}

ul#contacts-list li img {
  max-width: 90px;
  max-height: 90px;
}

ul#contacts-list li p {
  white-space: nowrap;
  font-size: 30px;
}

/* Media query pour passer de 4 éléments par ligne à 2 éléments par ligne */
@media (max-width: 1100px) {
  #contacts-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }
ul#contacts-list li {
  gap: 20px;
}
  ul#contacts-list li img {
    max-width: 70px;
    max-height: 70px;
  }
  ul#contacts-list li p {
    font-size: 20px;
  }
}

/* Media query pour passer à une colonne à une résolution encore plus étroite */
@media (max-width: 700px) {
  #contacts-list {
    grid-template-columns: 1fr;
    gap: 50px;
  }
}


/* animations */

ul#contacts-list li {
opacity: 0;
transform: translateY(50px);
transition: all 0.5s ease-in-out;
}

ul#contacts-list li#second-contact {
transition-delay: 0.3s;
}


ul#contacts-list.visible li {
opacity: 1;
transform: translateY(0);
}
