body{
    /* background: #120e17; */
    background-image: linear-gradient(316deg, #291e47 0%, #090113 50%);
}

.circle {
    border-radius: 50%;
    position: absolute;
    filter: blur(10px);
    z-index: -1;
}
