header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:center;
    background-color: rgb(0, 0, 0);
    box-sizing: border-box;
    z-index: 1;
}

header h2{
    padding:0;
    color: white;
}

header{
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.5s, transform 0.3s;
}

header.visible{
    opacity: 1;
    transform: translateY(0);
}
