/* Styles pour la section #photos */
section#photos {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 100vw; /* Ajustement de la largeur */
  z-index: -1;
}

/* Styles pour le carousel (#carousel) */
#carousel {
  width: 80%;
  max-width: 100%; /* Ajustement pour la compatibilité */
  height: 600px;
  padding-bottom: 30px;
}






