header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content:center;
    background-color: rgb(37, 3, 70);
}

header h2{
    padding:0;
    color: white;
    
}